.form {
  display: flex;
  flex-direction: column;
  // margin-left: 20px;

  mat-form-field {
    width: 50%;
    margin: 5px;
  }

  .add-button {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .done-field {
    margin-left: 5px;
  }
}
